{% extends 'admin/master.html' %}
{% block body %}
    <div class="container">
	<div class="hero-unit">
	<h2>Getting started</h2>
	<p>Getting started is not very complicated. You have the Files section, where youc an upload, edit, rename and delete files as well as directories. All your files and folders are stored in a secure sandbox, accessible only by you.</p>
	<ul>
	<li>Clicking on the Files link on the navbar takes you to your directory listing.</li>
	<li>To edit or delete a file, select the checkbox beside the file, and then click on the "With selected" button below the listing.</li>
	<li>To upload a file, click the "Upload file" button and select the file in question.</li>
	<li>To rename a file, click the small pencil icon next to the file in question, and provide a new name.</li>
	</ul>
	<p>Then, you have the Terminal. When you visit the Terminal section, we load your files and models into an independent container, with many platforms pre-installed - Octave, Scilab, R and Sage, for starters. Again, any models that you run are executed in a sandbox, with you being the only human who can access it. The terminal itself is a a simple but powerful Linux terminal, where you can run your models, inspect results, as well as run interactive code. Once you're done, any results you've saved to file, are saved and are then present in the Files section, for you to come back to later.</p>
	<ul>
	<li>After the terminal opens up, hit Enter or Return once, to start your session.</li>
	<li>When your terminal starts up, your code is mounted in /files - to access them, hit 'cd /files' and you'll change directories to your file store.</li>
	<li>A note on running Scilab - since this is a container, running 'scilab' won't work due to the absence of a GUI. Run 'scilab -nw' to start a Scilab interpreter.</li>
	</ul> 
	<p>We have a lot of exciting features on the way - collaboration, scaling up containers, more tools, and so on. We will roll out a better tutorial, as well as more extensive docs in the next few weeks.For any support queries or feedback notes you might have, please do reach out to us at <a href="mailto:founder@mathharbor.com">founders@mathharbor.com</a>.</p>
	</div>
     </div>
{% endblock %}
