{% extends 'admin/login_base.html' %}
{% block body %}
      <div class="container">

<div class="hero-unit">
<h2>Computational math, for the 21st century.</h2>
        <p>Welcome to MathHarbor, a brand-new, evolving platform for computational mathematics, on the cloud. A brand-new experience for crunching numerical models, for 21st-century mathematicians.</p>
        <p><a href="{{ url_for('login_view') }}" class="btn btn-primary btn-large">Login &raquo;</a> or <a href="{{ url_for('register_view') }}" class="btn btn-primary btn-large">Signup &raquo;</a></p>
      </div>  
        <div class="row">
        <div class="span4">
          <h2>Scalable</h2>
          <p>Use as many resources as you need. Scale up when you are crunching heavy models. Scale down when you're done. This features will be rolled out of beta soon! </p>
        </div>
        <div class="span4">
          <h2>Flexible</h2>
          <p>You should be free to use any platform or tool you like. We support Octave, Scilab, R and Sage, and aim to support many more.</p>
       </div>
        <div class="span4">
          <h2>Collaborate</h2>
          <p>Another feature we're furiously working on - share your models and results in a secure manner, and collaborate in real-time.</p>
        </div>
      </div>
</div>
{% endblock %}
